<form action="/singup" method="POST">
    <input type="email" name="email" placeholder="Pon tu email uwu">
    <input type="password" name="password" placeholder="Tu contra kawaii">

    <Button type="submit">
        Registrate :3
    </Button>

</form>